table_name: fw4
sources:
- set_name: vpn
  urls:
  - https://example.com/sets1.lst
  - https://example.com/sets2.lst
  set_template:
    family: inet
    type: ipv4_addr
    policy: memory
    flags:
    - constant
    - interval
    - timeout
    timeout: 60
    gc_interval: 60
- set_name: vpn2
  urls:
  - https://example.com/sets3.lst
single_run_append_max: 8000
auto_update:
  enabled: true
  timeout: 1d
